@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
--Strongcyan: hsl(172, 67%, 45%);
--Verydarkcyan: hsl(183, 100%, 15%);
--Darkgrayishcyan: hsl(186, 14%, 43%);
--Grayishcyan: hsl(184, 14%, 56%);
--Lightgrayishcyan: hsl(185, 41%, 84%);
--Verylightgrayishcyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
--lighbluish:hsl(212, 71%, 96%);
--Dark:hsl(182, 78%, 27%);
}

body{
    background-color: var(--Lightgrayishcyan);
    font-family: 'Rubik', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    letter-spacing: 4px;
    color: var(--Verydarkcyan);
}
main{
    width: min(700px,100vw - 2rem);
    margin-inline: auto;
    background-color: var(--White);
    border-radius: 20px 20px;
    padding: 30px;
}

.btn{
    background-color: var(--Verydarkcyan);
    color: var(--White);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    font:inherit;
}
.btn:hover{
    background-color: var(--Strongcyan);
}
.tip{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    padding: 20px 0;
}
.minorbox{
    background-color: var(--Verydarkcyan);
    border-radius: inherit;
    color: var(--White);
    padding: inherit;
    margin: 20px 0;
}
input[type="number"]{
    font-weight: 700;
    color: var(--Verydarkcyan);
    width: 100%;
    font-size: 24px;
    background-color: var(--lighbluish);
    border: 4px solid var(--Verylightgrayishcyan);
    appearance :textfield ;
    text-align: end;
    outline: none;
    padding: 4px;
    
}
.input-bill{
    background-image:url( Images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px ;
    margin: 12px 0;
}
.input-noofpeople{
    background-image:url( Images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
    margin: 12px 0;
    position: relative;

}
input[type="number"]:focus{
    border: 2px solid var(--Strongcyan);

}
label{
    color:var(--Grayishcyan) ;
    font-weight: 500;
    

}
.reset{
    width: 100%;
    text-transform: uppercase;
    padding:5px 0;
    font-size: 24px;
    border: none;
    border-radius: 5px 5px;
    font-weight: 700;
    color:var(--Verydarkcyan) ;
    font-size: 20px;
    background-color:var(--Dark);
}
.reset:hover{
    background-color: var(--Strongcyan);

}
.total,.tipdisplay{
display: flex;
justify-content: space-between;
padding-bottom: 30px;

}
.tipamountperperson p:last-child,.totalperperson p:last-child{
    color: var(--Grayishcyan);
}

#tipperperson,
#totalperperson{
 color: var(--Strongcyan);
}
/* No people validation */
.nopeople {
    position: relative;
  }
  
  .nopeople input {
    border: 2px solid #d1803e;
  
  }
  
  .nopeople ::after {
    position: absolute;
    content: "Can't be zero";
    color: #d1803e;
    right: 14px;
  }


.attribution {
    font-size: 11px; text-align: center; 
    margin: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (width > 650px) {
    main{
        display: flex;
        gap: 2rem;
    }
    .tipcalc, .minorbox{
        flex:1;  
    }
    .tip{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
